* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana;
}

.padre {
    width: 80%;
    /* height: 500px; */
    margin: 50px auto;
    background-color: lightblue;
    border: 2px solid blue;
    display: flex;
    /* con display: flex; activo el modo flex */
    /* flex-direction: row; */
    flex-wrap: wrap;
    /* justify-content: center; */
    /* align-content: center; */
}

.hijo{
    background-color:navy;
    border: 2px dashed white;
    width: 200px;
    height: 100px;
    color: white;
    margin: 30px;
    padding: 20px;
    font-size: 40px;
    text-align:center;
    /* con el flex-grow el espacio del padre se rellena*/
    flex-grow: 1;
}